// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$main-font: 'Nunito Sans', sans-serif !default;

/// Colors
/// @type Color
$white: #FFFFFF !default;
$dark-navy: #202C36 !default;
$light-navy: #2B3844 !default;
$black: #111517 !default;
$offwhite: #FAFAFA !default;
