// -----------------------------------------------------------------------------
// This file contains all styles related to the input group component.
// -----------------------------------------------------------------------------

.form-control:focus,
.form-control:hover {
  outline: 0;
  box-shadow: none;
}

.input-group {
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  height: 55px;
  .input-group-text {
    background-color: $white;
    border: 1px solid $white;
    border-radius: 5px;
    color: $gray;
    box-shadow: none;
  }
  .form-control {
    color: $gray;
    background-color: $white;
    border: 1px solid $white;
    border-radius: 5px;
  }
}
